<h2>Invoice</h2>
<div class= "row">
  <div class= "col-md-6">
    <p>Invoice Number: <%= @invoice.invoice_number %></p>
    <p>Date: <%= @invoice.sent_date.strftime("%B %d, %Y") %>
    <p><strong>Due Date: <%= @invoice.due_date.strftime("%B %d, %Y") %></strong></p>
  </div>
  <div class= "col-md-6"></div>
</div>
<div class= "row">
  <div class= "col-md-6 overrideResponsive">
    <div class= "card">
      <div class= "card-header">
        From:
      </div>
      <div class= "card-body">
        <h5><%= @invoice.user.first_name + " " + @invoice.user.last_name %></h5>
        <p>
          <%= @invoice.user.address_1 %><br>
          <% if !@invoice.user.address_2.blank? %>
            <%= @invoice.user.address_2 %><br>
          <% end %>
          <% if !@invoice.user.city.blank? %>
            <%= "#{@invoice.user.city}, #{@invoice.user.state} #{@invoice.user.zip}" %><br>
          <% end %>
          <%= number_to_phone(@invoice.user.phone_1, area_code: true) %>
        </p>
      </div>
    </div>
  </div>
  <div class= "col-md-6 overrideResponsive">
    <div class= "card">
      <div class= "card-header">
        Bill To:
      </div>
      <div class= "card-body">
        <h5><%= @invoice.company.name %></h5>
        <p>
          <%= @invoice.company.address_1 %><br>
          <% if !@invoice.company.address_2.blank? %>
            <%= @invoice.company.address_2 %><br>
          <% end %>
          <% if !@invoice.company.city.blank? %>
            <%= "#{@invoice.company.city}, #{@invoice.company.state} #{@invoice.company.zip}" %><br>
          <% end %>
          <%= number_to_phone(@invoice.company.phone_1, area_code: true) %>
        </p>
      </div>
    </div>
  </div>
</div>
<span class = "gapper"></span>
<div class= "row">
  <span class = "hideOnPdf">
    <%= link_to 'Add Line Item', new_invoice_line_item_path(@invoice), class: 'btn btn-primary' %> <%= link_to 'Edit Invoice Details', edit_invoice_path(@invoice), class: 'btn btn-primary' %>
    <%= link_to 'Generate PDF', invoice_path(@invoice, format: :pdf), class: 'btn btn-primary' %>
    <%= link_to 'Delete Invoice', invoice_path(@invoice), class: 'btn btn-danger', method: :delete, data: { confirm: "Permanently deleting. This can't be undone. Are you sure?" } %>
  </span>
  <table class= "table table-sm">
    <thead class= "thead-dark tableMargin">
      <tr>
        <th scope= "col">Description</th>
        <th scope= "col">Price</th>
        <th scope= "col">Quantity</th>
        <th scope= "col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @invoice.line_items.all.order(:id).each do |item| %>
        <tr>
          <td><%= item.description %></td>
          <td><%= number_to_currency(item.price) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.price * item.quantity) %><span class = "hideOnPdf"><%= link_to ' edit', edit_invoice_line_item_path(@invoice, item) %><%= link_to ' Destroy',  [@invoice, item],  method: :delete, data: { confirm: "Permanently deleting #{item.description}. This can't be undone. Are you sure?" } %></span></td>
        </tr>
        <% if !item.notes.blank? %>
          <tr><td class= "table-warning"><%= simple_format(item.notes) %></td></tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<hr>
<div class= "row">
  <div class= "col-md-4 overrideResponsive"></div>
  <div class= "col-md-4 overrideResponsive"></div>
  <div class= "col-md-4 overrideResponsive">
    <h6>Balance Due <%= @invoice.due_date.strftime("%B %d, %Y") %>:</h6>
    <h6><strong><%= number_to_currency(@invoice.total) %></strong></h6>
  </div>
</div>
