<%= render 'form' %>

<% if @invoice.line_items.any? %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
  <% @invoice.line_items.each do |item| %>
    <tr>
      <td><%= item.description %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.price * item.quantity) %></td>
    </tr>
    <% if item.notes.length > 0 && item.notes != " " %>
      <tr><td class = "table-warning"><%= simple_format(item.notes) %></td></tr>
    <% end %>
  <% end %>
<% end %>
</tbody>
</table>

<br>
<%= link_to "Return to Invoice", invoice_path(@invoice), class: 'btn btn-primary' %>
