<% if @invoice.line_items.any? %>
  <h3>Line Items for Invoice no. <%= @invoice.id %></h3>
  <% @invoice.line_items.each do |item| %>
    <p><%= "#{item.description} #{item.price} #{item.quantity} #{item.price * item.quantity}" %></p>
  <% end %>
<% end %>
<%= form_for [@invoice, @line_item] do |f| %>
<div class = 'input-group input-group-sm mb-3'>
  <div class = 'input-group-prepend input-group-sm'>
    <span class = 'input-group-text'>Description</span><%= f.text_field :description, class: 'form-control' %>
  </div>

  <div class = 'input-group-prepend input-group-sm'>
    <span class = 'input-group-text'>Price $</span><%=f.number_field :price, value: number_to_currency(f.object.price.to_f, delimiter: '', unit: ''), class: 'form-control' %>
  </div>

  <div class = 'input-group-prepend input-group-sm'>
    <span class = 'input-group-text'>Quantity</span><%= f.number_field :quantity, class: :text_field, step: :any, class: 'form-control' %>
  </div>
  <%= f.submit "Add Line Item", class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>

<%= link_to "View Invoice Preview", invoice_path(@invoice), class: 'btn btn-primary' %>
